/* Stylesheet Test HTML CSS - Michael Wollensack 23.07.2015 */

* { padding: 0; margin: 0; }

html { overflow-y: scroll; }

body {
	background-color: #8c8c8c;
	color: white;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
}

div#wrapper {
	background-color: white;
	color: black;
	width: 900px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}

div#header {
	background-color: #f3c600;
	color: black;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
}

div#nav {
	background-color: #ffeda0;
	margin-right: -20px;
	margin-left: -20px;
}

#nav ul {
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}

#nav li {
	float: left;
	margin:0;
	padding:0;
	color: #cc6666;
}

#nav li.selected{
	background-color: white;
	color: black;
}

#nav a:link,
#nav a:visited{
	color: inherit;
	display: block;
	text-decoration: none; 
	outline: none;
	font-weight: bold;
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 20px;
}
#nav a:hover,
#nav a:focus {
	background-color: #d90000;
	color: white;
}

div#content {
	min-height:500px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}

div#footer {
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	border-top: 1px solid #8c8c8c;
}

address{
	text-align: center;
	font-size: 80%;
	font-style: normal;
	letter-spacing: 2px;
	line-height: 1.5;
}

h1 { font-size: 150%; }

h2 { font-size: 130%; }

h3 { font-size: 110%; }

h4 { font-size: 100%; }

p { font-size: 100%; }

a:link { color: #d90000; }
a:visited { color: #cc6666; }
a img {border: none; }

h1, h2, h3, p, ul, ol {margin-bottom: 1em }
ul ul { margin-bottom: 0; }
li{ margin-left: 2em }

/* Tables */

table {
	background-color: #ffeda0;
	border-collapse: collapse;
	border: none;
}

thead {
	background-color: #f3c600;
}

td, th {
	border: 1px solid white;
	vertical-align: top;
	text-align: left;
	padding: 0.5em 1em;
}

/* Figures */

div.galerycontent {
	margin-right: -20px;
	margin-left: -20px;
}

div.galery {
	float: left;
	width: 200px;
	margin-right: 20px;
	margin-left: 20px;
}

div.galery img {
	box-shadow: 2px 2px 4px #000000;
	margin-bottom: 5px;
	margin-top: 5px;
}

div.galeryend { clear: both; }

/* Contact */

form {
	background-color: #d9d9d9;
	width: 480px;
	padding: 20px;
	border: 1px solid #8c8c8c;
}

label {
	display: block;
	cursor: pointer;
}

input#username,
input#usermail,
textarea {
	font-size: 100%;
	width: 100%;
	border: 1px solid #8c8c8c;
	margin-bottom: 1em;
}

textarea { 
	height: 7em;
}

/* Tablet */
@media screen and (max-device-width: 1024px)
{
	body {
		width: 720px;
		height: 900px;
		-webkit-text-size-adjust: 100%;
	}
	
	div#wrapper {
		width: 100%;
		margin-top: 0;
		margin-right: 0;
		margin-bottom: auto;
		margin-left: 0;
	}
}

/* Smart Phone */
@media screen and (max-device-width: 480px)
{
	body {
		width: 480px;
		-webkit-text-size-adjust: 100%;
	}
	
	div#wrapper {
		width: 100%;
		margin-top: 0;
		margin-right: 0;
		margin-bottom: 0;
		margin-left: 0;
	}
	
	div#content {
		font-size: 115%;
		}

	div#footer {
		font-size: 90%;
		}

		form {
		width: 398px;
	}
}
